<div ng-include="'partials/navbar'"></div>

<div class="container">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody ng-repeat="license in licenseList">
        <td>{{license.id}}</td>
        <td><a href="license/{{license.id}}">{{license.name}}</a></td>
        <td>{{license.type}}</td>
        </tbody>
    </table>
</div>

<div ng-include="'partials/footer'"></div>
