<div ng-include="'partials/navbar'"></div>

<div class="container">
    <div class="form-group">
        <label>Name</label>
        <input type="text" id="name" class="form-control" ng-model="_name" ng-change="_checkChanged()">
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="text" id="type" class="form-control" ng-model="_type" ng-change="_checkChanged()">
    </div>
    <div class="form-group sample-show-hide" ng-show="_changed">
        <button class="form-control btn btn-primary" ng-click="_doUpsert()">Save</button>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Package</th>
            <th>OSS</th>
        </tr>
        </thead>
        <tbody ng-repeat="p in _license.packages">
        <td>{{p.id}}</td>
        <td><a href="package/{{p.id}}">{{p.name}}</a></td>
        <td><a href="oss/{{p.ossId}}" ng-repeat="o in _ossList | filter:{id:p.ossId}">{{o.name}}</a></td>
        </tbody>
    </table>
</div>

<div ng-include="'partials/footer'"></div>
