<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <p>Hi!, <span ng-show="currentUser"><strong>{{ currentUser.name }}</strong></span>!</p>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome to Open source collaborative database.</br>
    This will help you to find out OSS information around company.
  </p>
</div>

<button class="btn" ng-click="sendSetProjectTest1()">Set project test #1</button>
<button class="btn" ng-click="sendSetProjectTest2()">Set project test #2</button>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>by Quality Planning Team</p>
</div>
