<div ng-include="'partials/navbar'"></div>

<div class="container">
    <div class="row" ng-show="_changed">
        <button class="btn btn-primary">Save</button>
    </div>
    <div class="row">
        <div class="col-xs-3"><label for="name">Name</label></div>
        <div class="col-xs-6"><input type="text" id="name" ng-model="_name" ng-change="_nameChanged()"></div>
    </div>
    <div class="row">
        <div class="col-xs-3"><label for="home">Project Home Page</label></div>
        <div class="col-xs-6"><input type="text" id="home" ng-model="_home" ng-change="_homeChanged()"></div>
    </div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Package</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody ng-repeat="p in _oss.packages">
            <td><a href="package/{{p.id}}">{{p.name}}</a></td>
            <td><a href="license/{{p.licenseId}}" ng-repeat="l in _licenseList | filter:{id:p.licenseId}">{{l.name}}</a></td>
        </tbody>
    </table>

</div>

<div class="footer">
    <p>by Quality Planning Team</p>
</div>
