<div ng-include="'partials/navbar'"></div>

<div class="container">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>OSS</th>
            <th>License</th>
            <th>License Type</th>
        </tr>
        </thead>
        <tbody ng-repeat="package in packageList">
        <td>{{package.id}}</td>
        <td><a href="package/{{package.id}}">{{package.name}}</a></td>
        <td>{{package.oss.name}}</td>
        <td>{{package.license.name}}</td>
        <td>{{package.license.type}}</td>
        </tbody>
    </table>
</div>

<div class="footer">
    <p>by Quality Planning Team</p>
</div>
