<div ng-include="'partials/navbar'"></div>

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Usage Count</th>
            <th>OSS</th>
            <th>License</th>
            <th>License Type</th>
        </tr>
        </thead>
        <tbody ng-repeat="package in packageList">
        <td>{{package.id}}</td>
        <td><a href="package/{{package.id}}">{{package.name}}</a></td>
        <td>{{package.projects.length}}</td>
        <td><a href="oss/{{package.ossId}}">{{package.oss.name}}</a></td>
        <td><a href="license/{{package.licenseId}}">{{package.license.name}}</a></td>
        <td>{{package.license.type}}</td>
        </tbody>
    </table>
</div>
<div class="row">
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
<div ng-include="'partials/footer'"></div>
