<div ng-include="'partials/navbar'"></div>

<div class="container">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="_package.name" ng-change="_nameChanged()">
    </div>
    <div class="form-group">
        <label>License</label>
        <input type="text" class="form-control" ng-model="_license.name" ng-change="_nameChanged()">
    </div>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project ID</th>
        </tr>
        </thead>
        <tbody ng-repeat="p in _package.projects">
        <td>{{p.id}}</td>
        <td><a href="project/{{p.id}}">{{p.projectId}}</a></td>
        </tbody>
    </table>
</div>

<div class="footer">
  <p>by Quality Planning Team</p>
</div>
