<div ng-include="'partials/navbar'"></div>

<div class="container">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Project ID</th>
        </tr>
        </thead>
        <tbody ng-repeat="project in projectList">
            <td>{{project.id}}</td>
            <td><a href="project/{{project.id}}">{{project.projectId}}</a></td>
        </tbody>
    </table>
</div>

<div class="footer">
    <p>by Quality Planning Team</p>
</div>
